body{
    color: black;
}
.menu{
    display:flex;
    list-style: none;
}
.menu > li{
    position: relative;
    padding: 5px 40px;
    border-right: 2px black solid;
    
}
.content{
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px 25px; 
    border: 2px black solid;
    background-color:  rgb(189, 189, 189); 
}
.dropdown:hover .content{
    display: block;
}
.menu a{
    color: black;
    text-decoration: none;
}
.content >li{
    padding: 10px;
}
.dropdown:hover{
    background-color: rgb(189, 189, 189);
    border: 2px black solid;
}